
<h2>ようこそ！Apple信者クイズへ！</h2>
<h3>始めるにはログインしてください。</h3>
<mat-card>
<div id="g_id_onload"
    data-client_id="831105382657-45pj5bu9j03t4p8lh54qpuegogbjnpso.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="http://localhost:4200/start"
    data-auto_prompt="false">
</div>

<div align="center" class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="filled_blue"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
    data-width="400">
</div>
</mat-card>