<h3>次の問いに答えなさい。</h3>
<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title><span class="bold-text">問題</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{question.question_text}}</p>
    <ng-container *ngIf="question.question_image_url !== null">
      <img class="question-image" src="{{question.question_image_url}}">
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card class="default-card">
  <mat-card-header>
    <mat-card-title><span class="bold-text">回答</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="question.answer_type === 'text'; else elseBlock">
      <mat-radio-group class="vertical-radio-group">
        <ng-container *ngFor="let choice of choices">
          <mat-radio-button [value]="choice">{{choice.content}}</mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </ng-container>
    <ng-template #elseBlock>
      <mat-radio-group class="image-radio-group">
        <div class="grid-container">
          <ng-container *ngFor="let choice of choices">
            <div class="radio-button-set">
              <div>
                <img src="{{choice.content}}">
              </div>
              <div>
                <mat-radio-button class="radio-button-image" [value]="choice"></mat-radio-button>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-radio-group>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions-left">
      <button mat-stroked-button color="primary" class="previous-button">前の問題へ</button>
    </div>
    <div class="actions-right">
      <button mat-raised-button color="primary" class="next-button">次の問題へ</button>
    </div>
  </mat-card-actions>
</mat-card>