<h3>ステージを選択してください。</h3>

<ng-container *ngFor="let stage of stages; let i = index">
  <mat-card class="default-card">
    <mat-card-header>
      <mat-card-title class="bold-text">{{stage.name}}</mat-card-title>
      <button mat-raised-button color="primary" class="start-button" (click)="startQuiz(stage.id+1)" [disabled]="disabledStages[i]">はじめる</button>
    </mat-card-header>
    <mat-card-content>
      <div class="progress-bar-container">
        <mat-progress-bar mode="determinate" value={{stage.correctCount*10}}></mat-progress-bar>
        <span class="progress-bar-label">正解率 {{stage.correctCount * 10}}%</span>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
